 <!-- Sección principal -->

    <section class="title-section">
      <h1>Nuestros Espacios...</h1>
    </section>

    <!-- Galería de imágenes -->
    <section class="gallery">
      <div class="gallery-item">
        <img src="../../../assets/media/jhonnyWalkerVertical.jpeg" alt="Jhonny Walker">
      </div>
      <div class="gallery-item small">
        <img src="../../../assets/media/restauranteDia.jpeg" alt="Restaurante resto bar">
        <img src="../../../assets/media/fogataNoche.jpeg" alt="Noche de fogata">
      </div>
      
      
    </section>
  