<header>
  <app-top-logo-bar></app-top-logo-bar>
  <app-nav></app-nav>
</header>
  
<!-- Rutas -->

<router-outlet></router-outlet>


<!-- ------------Footer ------------------>
<footer class="bg-black text-center text-white ">
  <div class="row row-cols-1 row-cols-md-3 g-4 col-sm-9 mx-auto ">
    <div class="col">
      <a href="">
        <img src="../assets/icons/latorreglamping.png" style="max-width: 150px;">
      </a>
    </div>
    <div class="col">
      <div class="text-center" style=" margin: 3vw;">
        <h4>La torre glamping Resto Bar</h4>
        <h6><a
            class="link-light  link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="shipping-policy">Shipping Policy</a>
        </h6>
        <h6><a
            class="link-light  link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="privacy-policy">Privacy Policy</a>
        </h6>
        <h6><a
            class="link-light  link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="refund-policy">Refund Policy</a>
        </h6>
      </div>
    </div>
    <div class="col">
      <div class="text-center" style=" margin: 3vw;">
        <h4>Soporte</h4>
        <h6><a
            class="link-light  link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="mailto:chips.empresarial@gmail.com?subject=Asunto%20del%20correo&body=Cuerpo%20del%20mensaje">Contacto</a>
        </h6>
        <h6><a
            class="link-light  link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="#">Politica de privacidad</a>
        </h6>
      </div>
    </div>
  </div>


  <!-- Copyright -->
  <div class="text-center p-5" style="background-color: rgba(0, 0, 0, 0.2);">
    Created By
    <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      href="https://cesarbaquiro.github.io/chips/">Chips.cm</a>
  </div>
  <!-- Copyright -->
</footer>